# Pandas Library

In [1]:
import pandas as pd
import numpy as np

In [3]:
#Creating series with Pandas
pd.Series(["data"],["index"])

index    data
dtype: object

In [4]:
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [8]:
seri=pd.Series(["ankara","istanbul","izmir","antalya","bursa"])
seri

0      ankara
1    istanbul
2       izmir
3     antalya
4       bursa
dtype: object

## Creating series via Numpy arrays

In [11]:
a=np.arange(1,6)
seri=pd.Series(a)
seri

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [12]:
#Types of elements in series
seri = pd.Series([1,2,3,4,5,6])
type(seri)

pandas.core.series.Series

In [18]:
seri.axes

6

In [15]:
seri.dtype

dtype('int64')

In [19]:
seri.ndim

1

In [20]:
seri.size

6

In [21]:
seri.shape

(6,)

In [22]:
seri.values

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [23]:
seri.head(3)

0    1
1    2
2    3
dtype: int64

In [24]:
seri.tail(2)

4    5
5    6
dtype: int64

## Indexing on series

In [26]:
seri=pd.Series([1,2,3,4,5,6]) 
seri[3]

4

In [27]:
#Changing index values in series
seri=pd.Series((1,2,3,4,5),index=(0,2,4,6,8))
seri

0    1
2    2
4    3
6    4
8    5
dtype: int64

In [36]:
seri=pd.Series((1,2,3,4,5),index=("a","b","c","d","e"))
seri

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [37]:
seri["c"]

3

In [31]:
# We can access values with indexes even if we have already changed it
#  it works only with strings
seri[2]

3

In [2]:
#Creating Series via Dictionary
sozluk = {"a":1, "b":2, "c":3, "d":4, "e":5}
seri = pd.Series(sozluk)
seri

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [3]:
seri["d"]

4

## Access operations in series

In [4]:
seri=pd.Series([1,2,3,4,5,6])
seri.values

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [5]:
seri.index

RangeIndex(start=0, stop=6, step=1)

seri.items

## Slicing methods in series

In [7]:
a = pd.Series([1,2,3,4,5,6])

In [8]:
a

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [9]:
a[0:3]

0    1
1    2
2    3
dtype: int64

In [11]:
a.index=(10,20,30,40,50,60)

In [12]:
# If we give a numeric index values and try to slice the series 
# it returns us empty value
a[10:50]

Series([], dtype: int64)

In [15]:
# So we use string index values instead of numerical values
a.index = ("a", "b", "c", "d", "e", "f")

In [17]:
a["b":"e"]

b    2
c    3
d    4
e    5
dtype: int64

## Merging operations in series

In [18]:
#Unlike the numpy librari we use "concat" nethod in pandas

In [19]:
seri1=pd.Series((1,2,3,4),index=("a","b","c","d"))
seri2=pd.Series((5,6,7,8),index=("e","f","g","f"))
pd.concat([seri1,seri2])

a    1
b    2
c    3
d    4
e    5
f    6
g    7
f    8
dtype: int64

In [20]:
#Also we can use "append" method

In [21]:
seri1.append(seri2)

C:\Users\abdyl\AppData\Local\Temp\ipykernel_13144\2966266472.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  seri1.append(seri2)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
f    8
dtype: int64

## Element operations in series

In [24]:
seri1=pd.Series((1,2,3,4),index=("a","b","c","d"))
"a" in seri1

True

In [25]:
"e" in seri1

False

In [28]:
seri["a"]=5
seri1

a    1
b    2
c    3
d    4
dtype: int64

In [29]:
seri1[0]

1

## loc method

In [32]:
seri2=pd.Series((1,2,3,4),index=(10,20,30,40)) 
seri2.loc[10]

1

In [33]:
seri2.loc[10:30]

10    1
20    2
30    3
dtype: int64

## iloc method

In [34]:
#Ignores of indexes opposite of loc
seri2.iloc[1]

2

In [35]:
seri2.iloc[0:2]

10    1
20    2
dtype: int64

## Logical operators in series

In [36]:
seri1=pd.Series((10,20,30,40,50,60))
seri1>30

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [37]:
seri1[seri1>30]

3    40
4    50
5    60
dtype: int64

In [39]:
seri1[(seri1>15) & (seri1<45)]

1    20
2    30
3    40
dtype: int64

 ## Arithmetical operators in series

In [41]:
seri=pd.Series([1,2,3,4,5,6,7,8])
seri.sum()

36

In [43]:
seri.max()

8